<article class="news-item">
    <div class="news-image">
        <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
    </div>
    <div class="news-content">
        <span class="news-category">{{ post.category }}</span>
        <h2 class="news-title">{{ post.title }}</h2>
        <p class="news-intro">{{ post.intro }}</p>
        <time class="news-date">{{ post.date|date("d/m/Y") }}</time>
    </div>
</article>