<article class="news-item" data-category="{{ post.categoryId }}">
    
    <div class="news-content">
        <div>
            <h2 class="news-title">{{ post.title }}</h2>  
            <div class="news-date-container">
                <time class="news-date">{{ post.date|date("j F Y")|replace({'January': 'janvier', 'February': 'février', 'March': 'mars', 'April': 'avril', 'May': 'mai', 'June': 'juin', 'July': 'juillet', 'August': 'août', 'September': 'septembre', 'October': 'octobre', 'November': 'novembre', 'December': 'décembre'}) }}</time>
                <span class="news-separator">|</span>
                <span class="news-category">Catégorie {{ post.categoryId }}</span>
            </div>
        </div>
        <div class="news-intro">{{ post.intro }}</div>
    </div>

    <div class="news-image">
        <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
    </div>

</article>
